/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
} */

.icon{
  width:8%;
  border-radius:100px;
}

body{
  background:hsl(210, 46%, 95%);
  font-size:13px;
  font-family: 'Manrope', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.main{
  width:60%;
  background:white;
  border-radius:30px;
  margin:200px auto;
  display:flex;
}

h1{
  font-weight:700;
  line-height:35px;
}

.left{
  background-image: url(../images/drawers.jpg);
  background-size:cover;
  width:100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}

p{
  line-height:20px;
}

.right{
  margin-top:20px;
  margin-left:50px;
}
/* .leftPic{
  object-fit:cover;
  width:auto;
  min-height:100%;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
